# The NEORV32 RISC-V Processor - https://github.com/stnolting/neorv32
# OpenOCD on-chip debugger configuration file for SINGLE-CORE configuration

# This script is customized for a Digilent CMOD-A7 FPGA module
# carrying a Xilinx Artix-7 FPGA with an FTDI FT2232H JTAG bridge.

# configuration
set CORENAME neorv32
log_output build/run/openocd.log

# -------------------------------------------------------------------
# Physical interface configuration.
# -------------------------------------------------------------------

if { $INTERFACE == "ftdi" } {
	adapter driver ftdi
	adapter usb vid_pid 0x0403 0x6010
	ftdi channel 0
	ftdi layout_init 0x0088 0x008b
} elseif { $INTERFACE == "xvc" } {
	adapter driver xvc
	xvc host xvc-server
	xvc port 2542
} elseif { $INTERFACE == "bit" } {
	adapter driver remote_bitbang
	remote_bitbang host 127.0.0.1
	remote_bitbang port 3721
} else {
	echo "ERROR: Invalid INTERFACE selection ($INTERFACE)."
	shutdown
}
transport select jtag
adapter speed 30000

# -------------------------------------------------------------------
# Target configuration and (session) initialization.
# -------------------------------------------------------------------

# configures JTAG tap
jtag newtap $CORENAME cpu -irlen 6 -expected-id 0x0362D093

# attach core
echo "Target: $CORENAME single-core"
set TARGETNAME $CORENAME.cpu
target create $TARGETNAME riscv -chain-position $TARGETNAME

# GDB server configuration
gdb port pipe
gdb breakpoint_override hard
gdb report_data_abort enable
gdb report_register_access_error enable

# DTM configuration for two-BSCANE implementation
riscv set_ir idcode 9
riscv set_ir dtmcs 3
riscv set_ir dmi 2

# expose NEORV32-specific CSRs
riscv expose_csrs 4032=mxisa
riscv expose_csrs 4033=mxisah

# initialize target
init

# -------------------------------------------------------------------
# Authenticator helper functions.
# -------------------------------------------------------------------

# write 32-bit data word to authenticator data input
proc authenticator_write {WDATA} {
	riscv authdata_write $WDATA
}

# read 32-bit data word from authenticator data output
proc authenticator_read {} {
	return [riscv authdata_read]
}

# check if authentication was successful (bit 7 in dmstatus)
proc authenticator_check {} {
	set DMSTATUS [riscv dmi_read 0x11]
	if { [expr {$DMSTATUS & (1<<7)}] } {
		echo "Authentication passed."
	} else {
		echo "AUTHENTICATION FAILED!"
		shutdown
	}
}

# ---------------------------------------------------------
# Authentication process.
# Adjust this for your custom/non-default authenticator.
# ---------------------------------------------------------
# read challenge
set CHALLENGE [authenticator_read]
# compute response (default authenticator module)
set RESPONSE [expr {$CHALLENGE | 1}]
# send response
authenticator_write $RESPONSE
# success?
authenticator_check

# -------------------------------------------------------------------
# Start debug session.
# -------------------------------------------------------------------

reset halt
echo "Target RESET and HALTED. Ready for remote connections."
